extends layout

block content
  h4
    .row
      .col-1
        svg.border.border-dark.rounded.bi(width="42px" ,height="42px" ,fill="currentColor")
          use(xlink:href="/bootstrap-icons.svg#wrench")
      .col-11
        span #{title} 
        h6 Votre Token: 
          span#mytoken.m-2 #{user.token}  
          button.btn.btn-outline-dark.btn-sm(onclick="copyToClipboard('#mytoken')") Copy Token
    
  hr
  ul.list-group  
    li.list-group-item
      a.acallapi#status("href"="/api/status") /api/status
    li.list-group-item
      a.acallapi#session("href"="/api/session") /api/session
    li.list-group-item
      a.acallapi#header("href"="/api/header") /api/header
    li.list-group-item 
      a.acallapi#infos("href"="/api/infos") /api/infos
    li.list-group-item
      a.acallapi#osinfo("href"="/api/osinfo") /api/osinfo
    li.list-group-item 
      a.acallapi#accounts("href"="/api/accounts") /api/accounts
    li.list-group-item
      a.acallapi#account("href"="/api/account/1") /api/accounts/#id
    li.list-group-item
      a.acallapi#message("href"="/api/messages") /api/messages
  pre#apiresult
    
block debug

block endscript
  script(type='text/javascript').
    var user =  !{JSON.stringify(user)}

    function callapi(href,cb){
        $.ajax({
            headers: { 'x-api-key': user.token },
            method: "GET",
            url: href,
          }).done(function(data) {
              cb(data)
          });

    }
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
    $(document).ready(function () {
      $(document).on("click", ".acallapi", function (event) {
        self=$(this)
        event.preventDefault();
        href=self.attr('href')
        callapi(href,(data)=>{
            $(".apiresult").remove()
            $('<pre class="apiresult border">'+JSON.stringify(data)+"</pre>").insertAfter(self)
        })
       })
    });