extends layout

block content
  h4
    .row
      .col-1
        svg.border.border-dark.rounded.bi(width="42px" ,height="42px" ,fill="currentColor")
          use(xlink:href="/bootstrap-icons.svg#sliders")
      .col-11
        span= title
    hr


  form#form_config.col-3
    each val, key in appconfig
      .form-group
        label("for"=key) #{key}
        input.form-control(type="string" name= key ,id= key, value = val)
    button.btn.btn-primary(type="submit") Save

block endscript
  script(type='text/javascript').
    var config =  !{JSON.stringify(appconfig)}
    $(document).ready(function () {
       $(".form-control").on("change",function(event){
          $("#debug").empty().append($(this).attr("id")+":"+$(this).val())
       })

      $( "#form_config" ).submit(function( event ) {
        event.preventDefault();
        var data = $(this).serializeFormJSON();
        $.ajax({
            method: "POST",
            url: "/config",
            data: data
          }).done(function(data) {
              window.location.href = '/config';
          });
      });
    });