doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

 

    block header-css
  body
    include headmenu


    .sidebar
      include sidebar 

    .content
          
      block content
    
      .footer
        p Debug
        pre
          code#debug 
            block debug 
 
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/popper/popper.min.js')

     <!-- Popper.JS -->
    script(src='/javascripts/globalfunction.js')
   
    script(type='text/javascript').
      function showflash(data){
        for (const [key, value] of Object.entries(data)) {
          if(key==="info"){
            value.forEach(element => $("#divalert").append(element).fadeOut( "slow" ));
          }
        }

        //- $("#divalert").empty().append(JSON.stringify(data))
      }

      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            if( $( "#sidebar" ).hasClass( "active" )){
              $("#sidebarCollapse svg use").attr("xlink:href", "/bootstrap-icons.svg#caret-left");
              $(".content").css("margin-left","250px")             
            } else {
               $("#sidebarCollapse svg use").attr("xlink:href", "/bootstrap-icons.svg#caret-right");
               $(".content").css("margin-left","50px")             
            }
        });
      });
    block endscript
