extends layout

block content
  h2 #{title}
  form(method='POST' action='/login')
    div.form-group
      label(for='username') Compte:
      input#username.form-control(type='text', placeholder='login', name='username' ,required)
    div.form-group
      label(for='password') Mot de passe:
      input#password.form-control(type='password', placeholder='password' ,name='password' ,required)
    div.form-group
        select#typ.custom-select
            option(selected) local
            option ldap
    div
      input(type="submit", value="Connection")
block debug
 = JSON.stringify(session)  
