extends layout

 
 
block content
  h4
    .row
      .col-1
        svg.border.border-dark.rounded.bi(width="42px" ,height="42px" ,fill="currentColor")
          use(xlink:href="/bootstrap-icons.svg#chat-left")
      .col-11
        span= title
    hr
  
    h1 Ajout d'un message
    form#messageform
      .form-group
        label(for='message') Message
        input.form-control(type='text', name='message')
      .form-group
        label(for='crit') Type
        select.form-control#crit(name='crit')
          each variable in ["Info","Urgent","Critique"]
            option(value=variable) #{variable}

      input.btn.btn-primary(type='submit')
    hr
    button#btn_all_messages.btn.btn-danger Purge des messages
    hr
    div#messages_list




block endscript
  script(type="text/javascript").
    var user =  !{JSON.stringify(user)}

    function display_messages(message){
      $("#messages_list").empty()
      var array=$("#messages_list").append('<table class="table">').find('table');
      for(var i=0;i<message.length;i++){
        array.append('<tr><td>'+message[i].date+'</td><td>'+message[i].crit+'</td><td>'+message[i].content+'</td></tr>')
      }
    }
    $(document).ready(function () {
      $.ajax({
        headers: { 'x-api-key': user.token },
        method: "get",
        url: "/api/messages",
        dataType: "json"
      })
      .done(function( data ) {
          display_messages(data)
      });
      
      $('#messageform').on('submit',function (event){
         event.preventDefault();
         message=$("#messageform input[name=message]").val()
         crit=$( "#crit option:selected" ).text();
          $.ajax({
            headers: { 'x-api-key': user.token },
            method: "post",
            url: "/api/message",
            dataType: "json",
            data: {"content":message,"crit":crit}
          })
          .done(function( data ) {
            display_messages(data)
          });
      });
      
      $('#btn_all_messages').on('click', function () {
        $.ajax({
          headers: { 'x-api-key': user.token },
          method: "delete",
          url: "/api/messages",
        })
        .done(function( data ) {
          display_messages(data)
        });
      });
    });
