nav.active#sidebar
    ul.list-unstyled.components
        p Demo apps
        li.active
            a(href="/") 
                svg.bi(width="12" ,height="12" ,fill="currentColor")
                    use(xlink:href="/bootstrap-icons.svg#house-door-fill")
                    span.float-right Home
        li
            a(href="/console") 
                svg.bi(width="12" ,height="12" ,fill="currentColor")
                    use(xlink:href="/bootstrap-icons.svg#terminal-fill")
                    span.float-right Console
        li
            a(href="/system") 
                svg.bi(width="12" ,height="12" ,fill="currentColor")
                    use(xlink:href="/bootstrap-icons.svg#keyboard-fill")
                    span.float-right Systeme
        li
            a(href="/messages") 
                svg.bi(width="12" ,height="12" ,fill="currentColor")
                    use(xlink:href="/bootstrap-icons.svg#chat-left")
                    span.float-right Messages
        li
            a(href="/api") 
                svg.bi(width="12" ,height="12" ,fill="currentColor")
                    use(xlink:href="/bootstrap-icons.svg#wrench")
                span.float-right Api
        if user && user.role=='admin'
            li
                a.dropdown-toggle(href="#pageAdmin" data-toggle="collapse" aria-expanded="false") 
                    svg.bi(width="12" ,height="12" ,fill="currentColor")
                        use(xlink:href="/bootstrap-icons.svg#tools")
                    span.float-right Administration

                ul.collapse.list-unstyled#pageAdmin
                    li
                        a(href="/config") 
                            svg.bi(width="12" ,height="12" ,fill="currentColor")
                                use(xlink:href="/bootstrap-icons.svg#sliders")
                            span.float-right Configuration
                    li
                        a(href="/accounts") 
                            svg.bi(width="12" ,height="12" ,fill="currentColor")
                                use(xlink:href="/bootstrap-icons.svg#person-circle")
                            span.float-right Accounts
        li
            a(href="#") About