extends layout

block content
  h4
    .row
      .col-1
        svg.border.border-dark.rounded.bi(width="42px" ,height="42px" ,fill="currentColor")
          use(xlink:href="/bootstrap-icons.svg#keyboard-fill")
      .col-11
        span= title
    hr
  
    h1 Informations systeme
    div#info_list

block endscript

  script(type="text/javascript").
    var user =  !{JSON.stringify(user)}

    function display_interface(loc,data){
      loc.append(JSON.stringify(data))
    }
    function display_infos(data){
      $("#info_list").empty()
      var array=$("#info_list").append('<table class="table">').find('table');
      for ( key in data){
        if(key=="network_interfaces"){
          loc=array.append('<tr><td>'+key+'</td><td>'+'</td></tr>').find('td:last')
          display_interface(loc,data[key])
        } else {
          array.append('<tr><td>'+key+'</td><td>'+data[key]+'</td></tr>')
        }

      }
    }
    $(document).ready(function () {
      $.ajax({
        method: "get",
        headers: { 'x-api-key': user.token },
        url: "/api/osinfo",
        dataType: "json"
        })
        .done(function( data ) {
          display_infos(data)
        });
    });